body {
	font-family: 'Lucida Grande', 'Tahoma', sans-serif;
}
a {
	color: red;
}

a:visited {
	color: grey;
}
h1 {
	display: inline;
}
h2 {
	margin-top: 5px;	
	margin-bottom: 0px;
}
.item {
	background-color: #fef4af;
	padding-left: 10px;
	width: 90%;
	border-radius: 4px;
	margin: 0 auto;
	margin-bottom: 10px;
}


.tag {
	border: 1px solid black;
	border-radius: 3px;
	font-size: small;
	padding: 2px;
}

.tditem {
	padding-top: 0px;
	vertical-align: top;	
}

.tdthumb {
	padding-top: 0px;
	vertical-align: top;	
	text-align: center;
}

.tableitem {
	
}

.tablethumb {
	padding-top: 5px;
	width: 160px;
}

.price {
	font-size: xx-large;
}
.place {
	font-size: larger;	
}

.header {
	margin: 0 auto;
	width: 80%;
}
.tablelogo {
	width: 100%;
}
.tdlogo {
	vertical-align: middle;
}
.search {
	width: 100%;
}
.searchinput {
	width: 100%;
	font-family: 'Lucida Grande', 'Tahoma', sans-serif;
	font-size: larger;	
}
.searchsubmit {
	font-family: 'Lucida Grande', 'Tahoma', sans-serif;
	font-size: larger;	
}
.results {
	width: 85%;
	margin: 0 auto;
	margin-bottom: 7px;
}
.description {
	margin-top: 10px;
	margin-bottom: 5px;
}
.map {
	margin-top: 3px;
	background-color: #ff6644;
	width: 300px;
	height: 300px;
	border: 2px solid red;

}
.maintable {
	margin: 0 auto;
	width: 85%;
}

.maintd {
	vertical-align: top;
	width:100%;
}

.filter {
	border-radius: 4px;
	background-color: #dddddd;	
	padding: 5px;
	padding-bottom: 10px;
}
.pricefilter {
	width: 40px;
}
.pricefilterdiv {
	margin-left: 20px;
}
.mymap {
	margin-top: 5px;
	background-color: #ff6644;
	width: 250px;
	height: 250px;
	border: 2px solid red;
}
.ratio {
    text-align: center;
    width: 100%;
}
.placeid {
    display: none;
}
.placesdata {
    display: none;
}