<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
    <!--Spring helpers-->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <!--Jetty beans-->
    <bean id="serverInitializer" class="net.sf.xfresh.jetty.JettyServerInitializer">
        <property name="port" value="33333"/>
        <property name="maxThreads" value="10"/>
        <property name="handlers">
            <list>
                <bean class="net.sf.xfresh.jetty.YaletXmlPageHandler">
                    <property name="resourceBase" value="catering-example/src/web"/>
                </bean>
                <bean class="org.mortbay.jetty.handler.ResourceHandler">
                    <property name="resourceBase" value="catering-example/src/web"/>
                </bean>
            </list>
        </property>
    </bean>

    <!--Fresh core beans-->
    <bean id="yaletProcessor" class="net.sf.xfresh.core.YaletProcessor">
        <property name="encoding" value="utf-8"/>
    </bean>

    <bean id="yaletSupport" class="net.sf.xfresh.core.impl.DefaultYaletSupport"/>

    <bean id="yaletResolver" class="net.sf.xfresh.core.spring.SpringYaletResolver"/>

    <bean id="saxGenerator" class="net.sf.xfresh.core.sax.DefaultSaxGenerator"/>

    <bean id="singleYaletProcessor" class="net.sf.xfresh.core.impl.DefaultSingleYaletProcessor"/>

    <!--DB conf-->
    <bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource" lazy-init="false">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/cat"/>
        <property name="username" value="root"/>
        <property name="password" value="toor"/>
        <property name="validationQuery" value="select 1"/>
    </bean>


    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate" lazy-init="false">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="DBUtilsImpl" class="net.sf.xfresh.catering.db.DBUtilsImpl" lazy-init="false">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>




    <!-- Index configuration -->

    <bean id="SearchResponserImpl" class="net.sf.xfresh.catering.util.index.SearchResponserImpl" lazy-init="false">
        <property name="path" value="catering-example/index"/>
    </bean>

    <bean id="IndexBuilder" class="net.sf.xfresh.catering.util.index.IndexBuilder" lazy-init="false">
        <property name="path" value="catering-example/index"/>
        <property name="dbUtils" ref="DBUtilsImpl"/>
    </bean>


    <!--Yalets-->
    <bean id="ShowAllYalet" class="net.sf.xfresh.catering.yalets.ShowAllYalet">
        <property name="dbUtils" ref="DBUtilsImpl"/>
        <property name="searchResponser" ref="SearchResponserImpl"/>
    </bean>




</beans>
